/*
 * Nexus Auto Trader - Styles
 * 
 * Note: All styles are currently embedded in index.html for simplicity.
 * This file is for future separation of concerns if needed.
 * 
 * To extract styles:
 * 1. Copy <style> contents from index.html
 * 2. Paste here
 * 3. Add <link rel="stylesheet" href="css/styles.css"> to index.html
 * 4. Remove <style> block from index.html
 */

/* Placeholder - styles are in index.html */
